a {
  text-decoration: none;
  color: var(--secondary-blue-color);
}
::placeholder {
  color: var(--primary-blue-color);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
  border-bottom: 5px solid var(--secondary-blue-color);
  padding: 0 24px;
}
.header-title {
  font-family: Pokemon-solid;
  color: var(--secondary-blue-color);
  font-size: 42px;
}

.header-links-container {
  width: 80%;
  font-family: Pokemon-old;
  font-size: 12px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 24px;
}
.login-btn {
  width: 115px;
  height: 50px;
  font-family: Pokemon-old;
  padding-top: 5px;
  border: 5px solid var(--secondary-blue-color);
  border-radius: 16px;
  background-color: var(--secondary-blue-color);
  color: var(--primary-white-color);
}
