.cards-container {
  width: 100%;
  height: fit-content;
  margin-bottom: 24px;
}
.cards-title {
  font-family: pokemon-old;
  color: var(--secondary-blue-color);
  font-size: 24px;
  margin-top: 24px;
}
.cards-btn {
  background-color: var(--secondary-blue-color);
  color: var(--primary-white-color);
  font-family: pokemon-old;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
.main-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}
