@font-face {
  font-family: Pokemon-solid;
  src: url("./fonts/PokemonSolidNormal-xyWR.ttf") format("truetype");
}
@font-face {
  font-family: Pokemon-old;
  src: url("./fonts/PokemonGb-RAeo.ttf") format("truetype");
}
